.blog {
    width: 100%;
    height: 100%;
    border-radius: 38px;
    background-color: #222;
    color: white;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}

 

.blog2 {
    width: 80%;
    display: flex;
    flex-direction: column;

}

.blog2 h1 {
    font-size: 35px;
    margin: 20px 0;
}

.blog3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog4 {
    width: 220px;
    height: 200px;
    background-color: #444;
    margin-bottom: 20px;
    cursor: pointer;
}

.blog4-img {
    width: 100%;
    height: 60%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .6s;
}

.blog4-img i {
    position: absolute;
    font-size: 35px;
    display: none;
    transition: .3s;
}

.blog4-text {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blog4-img img {
    width: 100%;
    transition: .6s;
    height: 100%;
}

.blog4:hover img{
    transform: scale(1.5, 1.5)
}


.blog4:hover i{
     display: inline;
}

.blog4-text p{
    width: 180px
}

 